html, body {
  min-height: 100%;
  margin: 0;
  overflow-x: hidden;
  color: var(--text);
  background:
    var(--base-bg-grad-1),
    var(--base-bg-grad-2),
    var(--base-bg-grad-main);
}

a {
  color: inherit;
  text-decoration: none;
}
