.pan-text-floating {
    position: absolute;
    
    /* Configurable Position */
    bottom: 2rem;
    left: 2rem;
    z-index: 10;
    max-width: 400px;
    padding: 0;
    margin: 0;
    font-family: monospace, 'Courier New', Courier, monospace;
    color: var(--accent-3, #38bdf8);
    text-shadow: 0 0 10px rgb(0 0 0 / 80%);
    pointer-events: none;
    background: none !important;
    border: none !important;
}

.pan-text-floating small {
    display: block;
    margin-top: 0.5rem;
    opacity: 70%;
}
